
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ツインバード全自動コーヒーメーカー</title>
    <link rel="stylesheet" href="coffee.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="responsive.css">
</head>

  <body>
    <header>
      <div class="container">
        <div class="header-left">
          <img src="/coollogo_com-6879998.png">
        </div>

        <span class="fa fa-bars menu-icon"></span>

        <div class="header-right">
          <ul>
            <a class="link" href="buy">購入サイト</a>
            <a class="link" href="equipment">使用器具</a>
            <a class="link" href="/beans">コーヒー豆</a>
          </ul>
        </div>
      </div>
    </header>


<div class="singleinbox">

      <div class="top-wrapper">
        <div class="container">
          <h1>桝田コーヒーブログ</h1>
          <h2 class="section-title">項目</h2>
          <ul>
            <li>自己紹介</li>
            <li>コーヒーにハマったきっかけ</li>
            <li>TWINBARD紹介</li>
            <li>実際に作ってみる</li>
            <li>感想</li>

          </ul>
        </div>
      </div>

      <div class="introduce">
          <div class="container">
            <h2 class="section-title">自己紹介</h2>
            <p>初めまして！！　コーヒーを愛する桝田　まだまだ元気な29歳！ギリギリ20代です（笑）
              そんな私が最近コーヒーにハマったので紹介していこうと思います。
              私も最初はコーヒーがあまり得意ではなかったので、コーヒーが苦手という方のお手伝いが出来たらなと思いますのでどうぞよろしくお願いいたします!</p>

            <h2 class="section-title">コーヒーにハマったきっかけ</h2>
            <p>ある全自動コーヒーメーカーと出会い、コーヒーのとりことなりました。
              私は昔からコーヒーがずっと苦手でした。
              ブラックコーヒーなんぞもっての他！！
              と思っていたのですが彼女が毎朝コーヒーを飲むのが日課でしたのでインスタントコーヒーを作ってあげて、私もすこしコーヒー頂いていました。
              インスタントコーヒーは砂糖入れないと苦いし美味しくない！
              美味しいコーヒー飲むため私は全自動コーヒーメーカーを購入することを決心しました。
            </p>
            <h2 class="section-title">TWINBIRD紹介</h2>
            <p>そんな私が購入したのは　ツインバード全自動コーヒーメーカー【CM-D457B】</p>
              <img class="photo" src="/T1.JPG">
              <p>TWIMBIRD社は新潟県燕市に本社を置く、調理家電や照明器具、掃除機などの製造販売を主とする家電メーカーであり、
                「ツインバード」は同社のブランド名です。家電製品が主ですが、スタンド照明やキッチン調理器具など多種多様な製品が発売されています。
              2017年に無印良品から発売された「豆から挽けるコーヒーメーカー MJ- CM1」はツインバード工業が製造を担当していることで有名です。</p>
            <h2 class="section-title">実際に作ってみる</h2>
            <p></p>
            <h2 class="section-title">感想</h2>
            <p></p>


          </div><!--container -->
      </div>

      <div class="profile">
        <div class="container">
          <h2>profile</h2>
          <p>name: SHUSAKU MASUDA</p>
          <p>age: 29</p>
          <p>blood: B</p>
          <p>graduate: Hakodate National College of Technology</p>
          <img class="photo" src="/" alt="">
        </div><!--container -->
      </div>


      <div class="contact-form">
        <div class="container">
          <h3 class="section-title">お問い合わせ</h3>
          <p>メールアドレス（必須）</p>
          <input>
          <p>お問い合わせ内容（必須）</p>
          <textarea></textarea>
          <p>※必須項目は必ずご入力ください</p>
          <input class="contact-submit" type="submit" value="送信">
        </div><!--container -->
      </div>
</div><!--singleinbox -->


    <footer>
      <div class="container">
        <div class="footer-logo">Coffee
            <div class="btn-wrapper">
            <a class="btn instagram" href="#"><span class="fab fa-instagram"></span> instagram</a>
            <a class="btn facebook"href="#"><span class="fab fa-facebook"></span>Facebook</a>
            <a class="btn twitter"href="#"><span class="fab fa-twitter"></span> Twitter</a>
            </div>
       </div>

        <div class="footer-list">
          <ul>
            <li>profile</li>
            <li>contact</li>
          </ul>
        </div>
      </div>

    </footer>
    <script src="sample.js"></script>
  </body>
</html>
